.Cards {
  display: inline-block;
  background-color: #2a2a42;
  width: 19.6%;
  height: 520px;
  border-radius: 12px;
  color: #ffffff;
  text-align: left;
  margin-right: 24px;
  margin-bottom: 5%;

  &__img {
    //width: inherit;
    width: 252px;
    height: 252px;
    border-radius: 12px;
  }

  &__info {
    margin-left: 16px;
    margin-bottom: 24px;
  }

  &__info h1 {
    color: white;
    text-decoration: none;
  }

  &__label {
    margin: 16px 0 0;
    color: #bfc1d3;
  }

  &__value {
    margin: 0;
  }
}
