.App {
  text-align: center;

  &__searchField{
    position:relative;
  }

  &__input{
    position:relative;
    width: 866px;
    height: 88px;
  }

  &__button{
    color: white;
    background-color: #3F8BFD;
    border: none;
    border-radius: 12px;
    height: 56px;
    width: 220px;
    position: absolute;
  }

  &__portfolio{
    margin-top: 64px;
    background-color: #0A0A28;
    padding: 80px 60px 176px 60px;
  }
}
